:root {
  --white: #fff;
  --amarelo: rgba(170, 159, 7, 0.877);
  --verde: rgba(31, 134, 0, 0.829);
  --verde-escuro: rgb(48, 83, 2);
  --red: #ff0000;
  --preto: black;
  --grd1: #6b0380;
  --sorv_claro: rgb(13, 136, 218);
  --sorv_escuro: rgb(78, 61, 236);
  --acai_claro: rgb(145, 57, 185);
  --acai_escuro: #710280;
  --milk_claro: rgb(13, 136, 218);
  --milk_escuro: rgb(78, 61, 236);
}

body,
section {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.img {
  height: 80px;
}

header {
  background-color: #f8f8f8;
  background: linear-gradient(to right, var(--grd1) 30%, #6fb9eb 70%, #e6f8fa) 20%;
  z-index: 1;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  flex-wrap: wrap;
}

.logo {
  margin-right: 20px;
  color: var(--white);
  font-weight: bolder;
  text-align: center;
}

h1 {
  text-align: center;
}

article {
  display: flex;
  padding: 5px;
  background-color: #ffffff;
  justify-content: space-around;

}

section {
  display: flex;
  align-content: center;
  justify-content: center;

}

.TipoMilk {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.ver_select {
  display: flex;
  border: 5px solid #ccc;
  border-radius: 50px;
  padding: 10px;
}

.ver_select img {
  width: 25vh;
}

label {
  display: block;
  margin: 15px;
  font-weight: bold;
}

select,
input[type="text"],
input[type="number"] {
  width: calc(100% - 22px);
  padding: 10px;
  margin: 10px;
  border: 5px solid #ccc;
  border-radius: 50px;
  font-size: 20px;
}

input[type="text"] {
  height: 20px;
}

input[type="number"] {
  height: 20px;
  width: 100px;
}

input[type="text"]::placeholder,
input[type="number"]::placeholder {
  color: #999;
}

input[type="text"]:focus,
select:focus,
input[type="number"]:focus {
  border-color: var(--grd1);
  outline: none;
}

.mostrar {
  background-color: var(--sorv_escuro);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  display: block;
  width: 100%;
}

.mostrar:hover {
  background-color: var(--sorv_claro);
}


.ingredientes_1 {
  display: flex;
}

.ingredientes {
  text-align: left;
  padding: 2px 5px 2px 5px;
}

.ingredientes label {
  font-weight: bolder;
}

.ingredientes div {
  padding: 10px 0 10px 0;

}

.valorTotal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.shopping {
  background-color: var(--sorv_claro);
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  display: block;
  width: 25vh;
  height: 50px;
  margin: 15px;
}

.car {
  width: 50px;
  height: 50px;

}

.shopping:hover {
  background-color: var(--sorv_escuro);
}

@media (max-width: 800px) {
  .menu-toggle {
    display: flex;
    /* Botão do menu aparece em telas pequenas */
  }

  .img {
    height: 50px;
  }

  nav {
    padding: 0 25px;
  }

  section {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .select img {
    width: 20vh;
  }

  .ingredientes_1 {
    flex-direction: column;
  }

  article {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 320px) {
  .img {
    height: 25px;
  }
}