:root {
  --white: #fff;
  --amarelo: rgba(170, 159, 7, 0.877);
  --verde: rgba(31, 134, 0, 0.829);
  --verde-escuro: rgb(48, 83, 2);
  --red: #ff0000;
  --preto: black;
  --grd1: #6b0380;
  --sorv_claro: rgb(13, 136, 218);
  --sorv_escuro: rgb(78, 61, 236);
  --sorv_azul: rgb(0, 0, 192);
  --acai_claro: rgb(145, 57, 185);
  --acai_escuro: #710280;
  --milk_claro: rgb(13, 136, 218);
  --milk_escuro: rgb(78, 61, 236);
}

body,
article {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #eaeaeb;
}

.img {
  height: 80px;
}

header {
  width: 100%;
  background-color: #f8f8f8;
  background: linear-gradient(to right, var(--grd1) 30%, #6fb9eb 70%, #e6f8fa) 20%;
  z-index: 1;
  position: fixed;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  flex-wrap: wrap;
}

.logo {
  margin-right: 20px;
  color: var(--white);
  font-weight: bolder;
  text-align: center;
  font-size: 30px;
}

.nav-links {
  list-style: none;
  display: flex;
  /* Sempre visível em telas grandes */
  padding: 0;
  margin: 0;
}

.nav-links li {
  margin: 15px 15px;
  padding: 10px;
  border-radius: 15px;
  background-color: #f0f8ff;
  cursor: pointer;
}

.nav-links a {
  text-decoration: none;
  color: #b91010;
}

.carrinho {
  width: 25px;
  height: 25px;

}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle .bar {
  height: 3px;
  width: 25px;
  background-color: var(--grd1);
  margin: 4px;
}

.hero {
  background-image: url("assets/sorvete-com-frutas.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 50px 20px;
  padding-top: 200px;
}

.hero h2 {
  font-size: 35px;
  margin-bottom: 20px;
  font-weight: bolder;

  color: white;
  text-shadow: -3px -3px 2px var(--grd1), 3px -3px 2px var(--grd1),
    -3px 3px 2px var(--grd1), 3px 3px 2px var(--grd1);
}

.hero p {
  font-size: 25px;
  margin-bottom: 50px;

  text-shadow: -2px -2px 2px var(--grd1), 2px -2px 2px var(--grd1),
    -2px 2px 2px var(--grd1), 2px 2px 2px var(--grd1);

  color: white;
}

.hero button {
  background: linear-gradient(to right,
      rgb(222, 216, 223),
      #dda0e5 20%,
      #6b0380 100%);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  margin: 5px;
}

article {
  display: block;
  flex-direction: row;
  padding: 5px;
  background-color: #adadad;
}

/*sorvete*/
.apresentacao_sorv {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 5px 0 5px 0;
  padding: 50px 20px;
  text-align: center;
}

.apresentacao_sorv h2 {
  font-size: 30px;
  margin-bottom: 20px;
  color: var(--sorv_azul);
  text-shadow: -1px -1px 0 var(--sorv_claro), 1px -1px 0 var(--sorv_claro),
    -1px 1px 0 var(--sorv_claro), 1px 1px 0 var(--sorv_claro),
    3px 12px 5px var(--sorv_claro);
  /* Adiciona o contorno branco ao redor das letras */
}

.apresentacao_sorv h3 {
  font-size: 24px;
  margin: 15px 0;
  padding: 10px 50px;
  color: var(--white);
  background-color: var(--sorv_escuro);
  border-radius: 50px;
}

/*açaí*/
.apresentacao_acai {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--acai_claro);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 5px 0 5px 0;
  padding: 50px 20px;
  text-align: center;
}

.apresentacao_acai h2 {
  font-size: 30px;
  margin-bottom: 20px;
  color: var(--acai_claro);
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

.apresentacao_acai h3 {
  font-size: 24px;
  margin: 15px 0;
  padding: 10px 50px;
  color: var(--white);
  background-color: var(--acai_escuro);
  border-radius: 50px;
}

/*Milk*/
.apresentacao_milk {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--milk_claro);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 5px 0 5px 0;
  padding: 50px 20px;
  text-align: center;
}

.apresentacao_milk h2 {
  font-size: 30px;
  margin-bottom: 20px;
  color: var(--milk_claro);
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

.apresentacao_milk h3 {
  font-size: 24px;
  margin: 15px 0;
  padding: 10px 50px;
  color: var(--white);
  background-color: var(--milk_escuro);
  border-radius: 50px;
}

.apresentacao_sorv p,
.apresentacao_acai p,
.apresentacao_milk p {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.apresentacao_sorv,
.apresentacao_acai,
.apresentacao_milk h3:hover {
  cursor: pointer;
  /* Altera o cursor para uma mãozinha*/
}

.apresentacao_sorv a,
.apresentacao_acai a,
.apresentacao_milk a {
  text-decoration: none;
}

.sobre,
.contato {
  padding: 25px 20px;
  text-align: center;
}

.sobre h2,
.contato h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.sobre p,
.contato p {
  font-size: 20px;
}

.sobre h1 {
  margin-top: 50px;
}

/* formulário*/
form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

form input,
form textarea {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  background-color: #ff6f61;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

@media (max-width: 1500px) {
  .TipoSorvete {
    display: flex;
    flex-direction: column;
    padding: 2px;
    align-items: center;
  
  }
  
  .ver_select {
    display: flex;
    border: 5px solid #ccc;
    border-radius: 50px;
    padding: 10px;
  }
  
  .ver_select img {
    width: 25vh;
  }
  
  label {
    display: block;
    margin: 15px;
    font-weight: bold;
  }
  
  .titulos {
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: black;
  }
  
  select,
  input[type="text"],
  input[type="number"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px;
    border: 5px solid #ccc;
    border-radius: 50px;
    font-size: 20px;
  }
  
  input[type="text"] {
    height: 20px;
  }
  
  input[type="number"] {
    height: 20px;
    width: 100px;
  }
  
  input[type="text"]::placeholder,
  input[type="number"]::placeholder {
    color: #999;
  }
  
  input[type="text"]:focus,
  select:focus,
  input[type="number"]:focus {
    border-color: var(--grd1);
    outline: none;
  }
  
  .mostrar {
    background-color: var(--sorv_escuro);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    display: block;
    width: 80%;
  }
  
  .mostrar:hover {
    background-color: var(--sorv_claro);
  }
  
  /* .sabor input[type="checkbox"]:disabled {
      opacity: 0.5;
    }
    */
  .sabor_1e2 {
    display: flex;
  }
  
  .sabor {
    text-align: left;
    padding: 2px 50px 25px 50px;
  }
  
  .sabor label {
    font-weight: bolder;
  }
  
  .sabor div {
    padding: 10px 0 10px 0;
  
  }
  
  .valorTotal {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .shopping {
    background-color: var(--sorv_claro);
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    display: block;
    width: 25vh;
    height: 50px;
    margin: 15px;
  }
  
  
  .car {
    width: 50px;
    height: 50px;
  
  }
  
  .shopping:hover {
    background-color: var(--sorv_escuro);
  }
  
}

@media (max-width: 1180px) {
  .menu-toggle {
    display: flex;
    /* Botão do menu aparece em telas pequenas */
  }

  nav {
    padding: 0 25px;

  }

  .nav-links {
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background-color: #783ea773;
    position: absolute;
    top: 115px;
    left: 0;
    z-index: 1;
    max-height: 0;
    /* Escondido por padrão em telas pequenas */
    overflow: hidden;
    transition: max-height 0.5s ease;
  }

  .nav-links.active {
    max-height: 500px;
    /* Mostra o menu ao ativar */
  }

  .nav-links li {
    margin: 10px 0;
  }

  article {
    flex-direction: column;
    gap: 50px;
    text-align: center;
    justify-content: space-around;
  }


}

@media (max-width: 900px) {

  .apresentacao_sorv img,
  .apresentacao_acai img,
  .apresentacao_milk img {
    width: auto;
    height: 25vh;
  }

}

@media (max-width: 700px) {

  .nav-links {
    flex-direction: column;
  }

  .apresentacao_sorv,
  .apresentacao_acai,
  .apresentacao_milk {
    flex-direction: column;
    padding: 5px 20px;
  }

  .apresentacao_sorv img,
  .apresentacao_acai img,
  .apresentacao_milk img {
    width: auto;
    height: 25vh;
  }

}

@media (max-width: 407px) {

  .img {
    height: 70px;
  }

  .logo {
    font-size: 25px;
  }

  .nav-links {
    top: 100px;
  }

}

@media (max-width: 360px) {

  .img {
    height: 60px;
  }

  .logo {
    font-size: 20px;
  }

  .nav-links {
    top: 78px;
  }

  .menu-toggle .bar {
    width: 20px;
    margin: 3px;
  }

  .hero {
    padding: 50px 0;
    padding-top: 100px;
  }

  .hero h2 {
    font-size: 30px;
  }

  .hero p {
    font-size: 25px;
    margin-bottom: 30px;
  }

  .hero button {
    font-size: 15px;
    border-radius: 10px;
    margin: 5px;
  }


}

@media (max-width: 310px) {
  .img {
    height: 40px;
  }

  .logo {
    font-size: 15px;
  }

  .nav-links {
    top: 55px;
  }

  .nav-links li {
    margin: 5px 0;
  }
}

@media (max-width: 248px) {
  .img {
    height: 30px;
  }

  .logo {
    font-size: 15px;
  }

  .nav-links {
    top: 55px;
  }

  .nav-links li {
    margin: 5px 0;
  }
}

@media (max-width: 232px) {
  .img {
    height: 30px;
  }

  .logo {
    font-size: 10px;
  }

  nav {
    padding: 0 15px;
  }

  .nav-links {
    top: 38px;
  }

  .nav-links li {
    margin: 3px 0;
  }

  .menu-toggle .bar {
    width: 10px;
    margin: 2px;
  }
}

@media (max-width: 162px) {

  .img {
    height: 30px;
  }

  header {
    width: 100%;
  }

  nav {
    padding: 0 5px;
  }

  .nav-links li {
    margin: 1px 0;
    font-size: 12px;
    margin: 1px;
    padding: 4px;
  }
.home, .sobre{
  display: none;
}
  .carrinho {
    height: 20px;
  }

  .hero {
    padding: 50px 20px;
    padding-top: 50px;
  }

  .hero h2 {
    font-size: 15px;
    margin-bottom: 5px;
  }

  .hero p {
    font-size: 15px;
    margin-bottom: 2px;
  }

  .hero button {
    display: none;
  }

  article {
    padding: 3px;

  }

  .logo {
    font-size: 10px;
    margin: 10px 0;
  }

  /*sessões*/
  .apresentacao_sorv,
  .apresentacao_acai,
  .apresentacao_milk {
    margin: 5px 0 5px 0;
    padding: 10px 5px;
  }

  .apresentacao_sorv h2,
  .apresentacao_acai h2,
  .apresentacao_milk h2 {
    font-size: 15px;
    margin-bottom: 5px;
  }

  .apresentacao_sorv h3,
  .apresentacao_acai h3,
  .apresentacao_milk h3 {
    font-size: 15px;
    margin: 1px 0;
    padding: 5px 25px;
  }

  .apresentacao_sorv p,
  .apresentacao_acai p,
  .apresentacao_milk p {
    font-size: 15px;
    text-align: center;
    font-weight: bold;
  }

  .apresentacao_sorv a,
  .apresentacao_acai a,
  .apresentacao_milk a {
    text-decoration: none;
  }

  .apresentacao_sorv img,
  .apresentacao_acai img,
  .apresentacao_milk img {
    width: auto;
    height: 40vh;
  }

  .sobre,
  .contato {
    padding: 10px 10px;
  }

  .sobre h2,
  .contato h2 {
    font-size: 20px;
    margin-bottom: 5px;
  }

  .sobre p,
  .contato p {
    font-size: 15px;
  }

  .sobre h1 {
    margin-top: 20px;
    font-size: 20px;
  }

  /* formulário*/
  form {
    max-width: 200px;
   
  }

  form input,
  form textarea {
    margin-bottom: 5px;
    padding: 5px;
    font-size: 10px;
  }

  form button {
    padding: 5px 10px;
    font-size: 12px;
  }

  footer {
    padding: 2px 0;
    font-size: 10px;
  }
}